/* Animation du loading-spinner */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
/* Apparition des cartes du menu */
@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(60%);
  }
  to {
    transform: translateY(0%);
  }
}
/* Coeur qui se remplit au survol */
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
h1 {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

body, html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
  line-height: 32px;
}

.footer {
  background-color: #353535;
}
.footer__container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 0;
}
.footer__logo {
  color: #fff;
  font-family: "Shrikhand", "Roboto", sans-serif;
  font-size: 20px;
  margin: 0 0 16px 0;
}
.footer__list {
  margin: 0;
  padding: 0;
}
.footer__icon {
  width: 20px;
  margin-right: 8px;
}
.footer__list a {
  color: #fff;
}

/* FOOTER EN LIGNE */
@media screen and (min-width: 1024px) {
  .footer__container ul {
    display: flex;
  }

  .footer__list li {
    padding-right: 35px;
  }

  .footer__container {
    margin-left: 50px;
  }
}
.header {
  position: relative;
}
.header__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 25px;
  top: 12px;
  font-size: 20px;
}
.header__title {
  text-align: center;
}

.banner img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* LOADING SPINNER */
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  margin-top: -20px;
  background: #fff;
  height: 100%;
  width: 100%;
  animation: fade 0.5s 3s ease-in forwards;
}
.loading__logo {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

.circle {
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border-bottom: solid 2px #9356DC;
  border-top: solid 2px #FF79DA;
  animation: rotate 1s linear 4;
}

/* SECTION ACCROCHE */
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  box-shadow: inset 0 5px 5px 0 #dddddd;
}
.localisation__text {
  background-color: #f3f3f3;
  padding: 20px 8px;
  margin-top: 5px;
  text-align: center;
  border: none;
  width: 140px;
  font-size: 18px;
  outline: none;
}

.accroche {
  background-color: #fafafa;
  padding: 32px;
  text-align: center;
}
.accroche__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
}
.accroche__text {
  color: #332f2fb9;
  padding-bottom: 25px;
  font-size: 17px;
}
.accroche__btn {
  padding: 15px 25px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 4px 4px 6px #e9e9e9;
}
.accroche__btn:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 6px #aaa;
}

/* SECTION FONCTIONNEMENT */
.use {
  padding: 32px 16px;
}
.use__title {
  font-size: 20px;
}
.use__step {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 20px 0;
  background-color: #f6f6f6;
  border: 5px solid #f6f6f6;
  border-radius: 10px;
  box-shadow: 4px 4px 6px #e9e9e9;
  font-weight: bold;
  border: none;
}
.use__step:hover {
  background-color: #f3e3f8;
}
.use__step:hover .use__icon {
  color: #9356DC;
}
.use__icon {
  color: #b2b2b2;
  margin: 0 20px;
  width: 20px;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 100%;
  position: relative;
  right: 10px;
}

/* SECTION RESTAURANTS */
.restaurants {
  padding: 32px 16px;
  background-color: #f6f6f6;
}
.restaurants__title {
  font-size: 24px;
}

.card {
  position: relative;
  margin: 20px 0;
  padding-bottom: 10px;
  border-radius: 25px;
  box-shadow: 4px 4px 6px #e9e9e9;
  background-color: #fff;
}
.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.card__new {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 8px;
  border-radius: 10px;
  position: absolute;
  top: 15px;
  right: 10px;
}
.card__legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__title {
  margin: 0;
  margin-top: 5px;
  padding-left: 10px;
}
.card__maintitle {
  margin: 0;
}
.card__subtitle {
  margin: 0;
  margin-top: 5px;
}
.card__heart {
  margin-right: 20px;
}

/* REMPLISSAGE DU COEUR */
.card__heart .far {
  color: #000;
  cursor: pointer;
}

.far:hover {
  animation: fill 1s ease-out;
  opacity: 1;
  background: linear-gradient(to right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

/* AFFICHAGE TABLETTE */
@media screen and (min-width: 768px) {
  .restaurants_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    min-width: 45%;
    max-width: 45%;
    margin-right: 20px;
  }
}
/* AFFICHAGE DESKTOP */
@media screen and (min-width: 1024px) {
  .use__container {
    display: flex;
    justify-content: space-around;
  }

  .use__step {
    padding-right: 20px;
  }
}
/* AFFICHAGE GRANDS ECRANS */
@media screen and (min-width: 1600px) {
  #bloc_page {
    max-width: 1600px;
    margin: auto;
  }
}
/* MENU */
.maincontainer {
  background-color: #f6f6f6;
  border-radius: 40px;
  position: relative;
  margin-top: -50px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 0 16px;
}
.menu__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 500;
}
.menu__title__heart {
  margin-right: 30px;
}

.step {
  padding: 0 16px;
}
.step__title {
  text-transform: uppercase;
  font-weight: 300;
}
.step__title::after {
  content: "";
  width: 48px;
  height: 4px;
  background-color: #99E2D0;
  display: block;
}

.dish {
  display: flex;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 4px 4px 6px #e9e9e9;
  overflow: hidden;
  cursor: pointer;
}

/* APPARITION DES MENUS */
.slide-1 {
  animation: slide 1s ease-out;
  opacity: 1;
}

.slide-2 {
  animation: slide 1s 0.2s ease-out;
  opacity: 1;
}

.slide-3 {
  animation: slide 1s 0.3s ease-out;
  opacity: 1;
}

.slide-4 {
  animation: slide 1s 0.4s ease-out;
  opacity: 1;
}

/* DESCRIPTION DES PLATS */
.dish__desc {
  flex: 1;
  padding-left: 12px;
  overflow: hidden;
}
.dish__desc p, .dish__desc h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dish__desc h4 {
  margin-bottom: 0.3em;
  font-weight: bolder;
  font-size: 18px;
}
.dish__desc p {
  margin-top: 0;
  font-weight: 200;
}

/* AFFICHAGE PRIX et SELECTION DU PLAT */
.dish__price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: bold;
  margin-right: -20px;
  transform: translateX(100%);
  transition-duration: 0.5s;
}

.dish__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 70px;
  border: none;
  cursor: pointer;
  transform: translateX(100%);
  transition-duration: 0.5s;
}
.dish__check .fas {
  color: #fff;
  font-size: 2em;
}

.dish:hover > .dish__check {
  transform: translateX(0%);
}

.dish:hover > .dish__price {
  transform: translateX(-120%);
  margin-left: 40px;
}

.dish:hover .fas {
  transform: rotate(1turn);
  transition-duration: 0.5s;
}

/* BOUTON COMMANDER */
.commander {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}
.commander__btn {
  padding: 15px 30px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 4px 4px 6px #e9e9e9;
}
.commander__btn:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 6px #aaa;
}

@media screen and (min-width: 1024px) {
  .steps {
    display: flex;
    justify-content: space-around;
  }

  .step {
    max-width: 30%;
    min-width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
